# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gmodxxjstkvglurvbesl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdtb2R4eGpzdGt2Z2x1cnZiZXNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMzMwOTAsImV4cCI6MjA4ODkwOTA5MH0.yZ02w-9XyitSv3xmdA_qRip_UkrxPB7mwaS8AZdjO5I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdtb2R4eGpzdGt2Z2x1cnZiZXNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMzMzA5MCwiZXhwIjoyMDg4OTA5MDkwfQ.ZCdGhbS4VB4_BmbuCcu3kOo2CZFTuPDUSloRZaEx5jA

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Couple OS
